DB_NAME=accessibledocs
DB_USER=elekeza
DB_PASSWORD=zmA!V.1Xv%fEwC9ReQJp,qy#

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=Oo6pNLuWU9H4XiQgtfE1APcd

JWT_SECRET=6MhlNTiXACkVtKmzyED1RcJdueb2SpjHarU0qLn35WZFoQ7I

AI_PROVIDER=groq
AI_API_KEY=REDACTED9EV3hCEOMB9pCBiSkIedWGdyb3FYSwe3sDbbHxPYPRzPGOLZ1rwZ
AI_INTERNAL_SECRET=fhI6BZFtjDXQO4K7TM2y0aNxY1vRESsz

NEXT_PUBLIC_API_URL=http://localhost:8080/api
FRONTEND_URL=http://localhost:3000
CORS_ALLOWED_ORIGINS=http://localhost:3000
