AI_PROVIDER=groq
AI_API_KEY=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

# Internal security — shared with Harrison (Spring Boot)
INTERNAL_SECRET=AO2xgxEVnV2r6ySzhajgl8M98aSQp3wD

LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=

LANGFUSE_HOST=

TESSERACT_CMD=